---
import type { CollectionEntry } from 'astro:content'
import PostPreview from '@/components/PostPreview.astro'
import Layout from '@/layouts/Layout.astro'
import { fetchPosts } from '@/lib/post'
import type { GetStaticPaths, Page } from 'astro'

export const prerender = true
export const getStaticPaths = (async ({ paginate }) => {
  const allPosts = await fetchPosts()
  return paginate(allPosts, { pageSize: 10, props: {} })
}) satisfies GetStaticPaths

interface Props {
  page: Page<CollectionEntry<'posts'>>
}

const { page } = Astro.props
---

<Layout title='Blog' description='Posts'>
    <div class="py-12 sm:py-16 lg:py-20">
        {page.data.length == 0 && <p>No posts yet.</p>}

        {
            page.data.length > 0 && (
                <div>
                    <section>
                        <ul>
                            {
                                page.data.map((p) => (
                                    <li>
                                        <PostPreview post={p} />
                                    </li>
                                ))
                            }
                        </ul>
                    </section>
                </div>
            )
        }
    </div>
</Layout>