---
import Layout from '@/layouts/Layout.astro'
import { fetchTags } from '@/lib/post'

const allTags = Array.from(await fetchTags())
---

<Layout title='tags' description='all tags'>
    <div class="py-12 sm:py-16 lg:py-20">
    {allTags.length === 0 && <p>No tags yet.</p>}

    {
        allTags.length > 0 && (
            <ul class="flex flex-col gap-y-3">
                {allTags.map(([tag, val]) => (
                   <li class="flex items-center gap-x-2">
                        <a 
                            data-astro-prefetch
                            href={`/tags/${tag}`}
                            title={`View posts with the tag ${tag}`}
                            class="inline-block underline-offset-4 underline font-grotesk">
                            #{tag}
                        </a>
                        <span class="inline-block font-grotesk">
                            - {val} 篇文章
                        </span>
                   </li> 
                ))}
            </ul>
        )
    }
    </div>
</Layout>
