---
import TitleSection from '@/components/TitleSection.astro'
import Layout from '@/layouts/Layout.astro'
import { fetchTags } from '@/lib/post'

const allTags = Array.from(await fetchTags())
---

<Layout title='tags' description='all tags'>
    <TitleSection title="Tags" description="" />

    <div>
    {allTags.length === 0 && <p>No tags yet.</p>}

    {
        allTags.length > 0 && (
            <div>
            {allTags.map(([tag, val]) => (
                    <a 
                        data-astro-prefetch
                        href={`/tags/${tag}`}
                        title={`View posts with the tag ${tag}`}
                        style={`font-size: ${(Math.log(val || 1) + 1) * 1}rem`}
                        class="inline-block underline-offset-4 underline font-grotesk m-4">
                        {tag}
                    </a>
            ))}
            </div>
        )
    }
    </div>
</Layout>
