---
import type { HeadProps } from '@/components/Head.astro'
import Layout from '@/layouts/Layout.astro'
import config from 'config'

const head: HeadProps = {
  title: config.title,
  description: config.description,
  canonicalUrl: `${import.meta.env.SITE}/`,
  image: config.image,
  type: 'website',
}
---

<Layout {...head} >
	<h1>Astro</h1>
</Layout>
