---
interface Props {
  name: string
  link: string
  icon: string
}

const { name, link, icon } = Astro.props
---

<a href={link} class="nav-link opacity-80 hover:opacity-90">
    <div class={icon}></div> {name}
</a>

<style>
.nav-link {
  --uno-apply: "mr-6";
}

.active {
  --uno-apply: "relative opacity-100 text-black dark:text-white"
}
.active::after {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: -20px;
  margin: auto;
  content: ".";
  font-size: 2rem;
  text-align: center;
} 
</style>
