---
import type { CollectionEntry } from 'astro:content'
import { formatDate } from '@/lib/date'

interface Props {
  post: CollectionEntry<'posts'>
}

const { post } = Astro.props

---

<article class="flex flex-col gap-1 sm:gap-x-4 mb-8">
    <h1 class="text-lg mt-1 mb-1">
        {post.data.draft && <span class="text-red-500">(Draft)</span>} 
        <a  
            data-astro-prefetch
            href={`/posts/${post.slug}`}
            class="transition-all dark:hover:text-gray hover:text-gray cursor-pointer decoration-none">
            {post.data.title}
        </a>
    </h1>

    <div class="color-base text-op-60 dark:text-op-60 text-sm">
        <span>
            {formatDate(post.data.createdAt)}{post.data.updatedAt && "（已更新）"}
        </span>
    </div>
</article>
