---
import type { HeadingProps } from './TableOfContents.astro'

type Props = HeadingProps

const { depth, slug, subheadings, text } = Astro.props
---

<li class={`${depth > 2 ? 'ms-2' : ''}`}>
  <a href={'#' + slug} class={`line-clamp-2 ${depth <= 2 ? 'mt-2' : 'mt-1 text-sm'} transition-all hover:color-base`}>
    {text}
  </a>

  {
    subheadings.length > 0 && (
      <ul>
        {subheadings.map((subheading) => (
          <Astro.self {...subheading} />
        ))}
      </ul>
    )  
  }
</li>