---
import type { MarkdownHeading } from 'astro'

interface Props {
  headings: MarkdownHeading[]
}

const { headings } = Astro.props
---

<!-- <ul class="pointer-events-auto flex flex-col space-y-2 text-zinc-500"> -->
<ul class="flex flex-col grow scroll-smooth px-2 max-h-[75vh] h-full min-h-[120px]">
    {headings.map((node) => (
        <li class="text-[12px] font-medium leading-[18px] transition-colors duration-300">
            <a href={`#${node.slug}`} class="block w-full">
                {node.text}
            </a>
        </li>
    ))}
</ul>