---
import { ViewTransitions } from 'astro:transitions'
import Head, { type HeadProps } from '@/components/Head.astro'
import Header from '@/components/Header.astro'

type Props = HeadProps

const { ...head } = Astro.props
---
<html lang="en">
  <head>
    <Head {...head} />
    <ViewTransitions />
  </head>
  <body class="bg-base color-base min-h-screen">
    <div class="mx-auto max-w-screen-lg px-4 sm:px-6 lg:px-8">
      <Header />
      <main>
        <slot />
      </main>
    </div>
  </body>
</html>