---
import { ViewTransitions } from 'astro:transitions'
import Head, { type HeadProps } from '@/components/Head.astro'
import Header from '@/components/Header.astro'

type Props = HeadProps

const { ...head } = Astro.props
---
<html lang="en">
  <head>
    <Head {...head} />
    <ViewTransitions />
  </head>
  <body class="bg-base color-base min-h-screen flex flex-col">
    <Header />
    <div class="flex-1 flex flex-col sm:flex-row">
      <aside class="order-first side">
        <slot name="left-aside" />
      </aside>
      <main class="flex-1">
        <slot />
      </main>
      <aside class="side">
        <slot name="right-aside" />
      </aside>
    </div>
  </body>
</html>


<style>
  .side {
    width: calc((100% - 65ch) / 2);
  }
</style>