---
// import { ViewTransitions } from 'astro:transitions'
import Head, { type HeadProps } from '@/components/Head.astro'
import Header from '@/components/Header.astro'

type Props = HeadProps

const { ...head } = Astro.props
---
<html lang="en">
  <head>
    <Head {...head} />
    <!-- <ViewTransitions /> -->
  </head>
  <body class="bg-base color-base min-h-screen">
    <main class="min-h-screen max-w-screen-lg mx-auto px-6 pb-10 pt-7 sm:px-8 lg:px-10 leading-relaxed">
      <Header />
      <slot />
    </main>
    <!-- Cloudflare Web Analytics -->
    <script is:inline defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "38683adb459f479d8c790b41119617f7"}'></script>
    <!-- End Cloudflare Web Analytics -->
  </body>
</html>